:root{
    --line-border-fill : #3498db;
    --line-border-empty: #e0e0e0
}

*{
    box-sizing: border-box;
}
body{
    
    background-color: white;
    font-family: 'Prompt', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    

}


.container{
    
    text-align: center;
}

.circle{
    color:#f6f7fb
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0px;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}

.progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0px;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
   
}
.circle{
    background-color: white;
    color: rgb(108, 108, 108);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active{

    border-color: var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-fill);
    color: white;
    font-family: inherit;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
}
.btn:active{
    transform: scale(.98);
}
.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}