@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #000013;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  height: 100vh;
 
  margin: 0;
}

.user-form{
   
    width: 100%;
    max-width: 700px;
}
.user-form input{
    width:100%;
    display: block;
    background-color: rgb(108, 108, 108);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: inherit;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}
.btn{
    width:100%; 
    max-width: 70px;
    display: block;
    font-family: inherit;
    background-color: rgb(108, 108, 108);
    max-width: 350px;
    border-radius: 5px;
    margin-bottom: 2rem;
    color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;


}
.content-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-form input::placeholder{
    color: rgb(208, 208, 208);
    font-style: bold;
}
.user-form input:focus{
    outline: none;
}
.card{
    max-width: 800px;
    display: flex;
    padding: 3rem;
    background-color: white;
    color: #000013;
    border-radius: 50px;
    margin: 0 1.5rem;
}

.avatar{
    border-radius: 50%;
    border: 7px solid #000013;
    margin: 1rem;
}
.user-info{
    margin-left: 2rem;
}

.user-info h2{
    margin-top: 0;
}
.user-info ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}
.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repos{
    text-decoration: none;
    color: none;
    color: #000013;
    background-color: cadetblue;
    border-radius: 10%;
    font-size: .65rem;
    padding: .25rem .5rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    display: inline-block;
}

@media (max-width: 500px) {
    .card{
        flex-direction: column;
        align-items: center;
    }
    .user-form{
        margin-top: 10rem;
        margin-bottom: 1rem;
        max-width: 400px;
    }
    
    .card{
        max-width: 400px;
        display: flex;
        padding: 1rem;
        background-color: white;
        color: #000013;
        border-radius: 50px;
        margin: 1 1.5rem;
    }
}